
body {
  background: #fff;
}


.wrapper {
  animation: scroll 70s linear infinite;
  background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80"), #111111;
  color: #eee;
  height: 100vh;
  min-width: 360px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  perspective-origin: 50% 50%;
  
}

@keyframes scroll {
   100%{
    background-position:0px -3000px;
  }
}
.topbar{
	background-color:rgba(255,255,255,.8);
	border-radius:.25em;
	box-shadow:0 0 .25em rgba(0,0,0,.25);
	box-sizing:content-box;
	left:50%;
	padding:5%;
	width: 95%;
	position:absolute; top: 4%;
	text-align: center;
	transform:translate(-50%, -50%);
    font-family: monospace;
  }

  .ql1{
	  box-sizing: border-box;
	  width: 15%;
	  border: 1mm solid rgba(0, 0, 0, 0.6);
	  border-radius: 10px;
	  font-size: 20px;
	  font-family: monospace;
	  position: absolute; top: 68%; left: 5%;
	  

  }
  .ql2{
	box-sizing: border-box;
	width: 20%;
	border: 1mm solid rgba(0, 0, 0, 0.6);
	border-radius: 10px;
	font-size: 20px;
	font-family: monospace;
	position:absolute; top: 68%; left: 23%;
	

}
.ql3{
	box-sizing: border-box;
	width: 25%;
	border: 1mm solid rgba(0, 0, 0, 0.6);
	border-radius: 10px;
	font-size: 20px;
	font-family: monospace;
	position:absolute; top: 68%; left: 45%;
	

}
a:link{
	color: black;
	text-decoration: none;
    font-family: monospace;
}
a:visited{
	color: black;
	text-decoration: none;
}
a:hover{
	color: #09f;
	text-decoration: underline;
}
